@model LibreriaMVC.Models.Libros

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Catalogos/_Catalogos.cshtml";
}
<h1>Edit</h1>

<h4>Libros</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label asp-for="AutoresID" class="control-label"></label>
        <select asp-for="AutoresID" class="form-control" asp-items="ViewBag.AutoresID"></select>
        <span asp-validation-for="AutoresID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditorialesID" class="control-label"></label>
        <select asp-for="EditorialesID" class="form-control" asp-items="ViewBag.EditorialesID"></select>
        <span asp-validation-for="EditorialesID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Titulo" class="control-label"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Precio" class="control-label"></label>
        <input asp-for="Precio" class="form-control" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FechaPublicacion" class="control-label"></label>
        <input asp-for="FechaPublicacion" class="form-control" />
        <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
    </div>
    <div class="form-group float-right">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
