@{
    ViewData["Title"] = "Libroteca de Cheshire";
}

<h2 id="encabezado">Libroteca de Cheshire - hola</h2>

<section>
    <p>Bienvenido a la libroteca de Cheshire</p>
    <figure>
        <img id="imagen" src="~/images/logo.png" alt="logo" />
        <figcaption>
            Libroteca de Cheshire (uso académico)
        </figcaption>
    </figure>
</section>
