@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
    <h1 class="display-4">Bienvenido @User.Identity.Name</h1>
    <hr>
    }
    <img width="400" src="~/images/logo.png" alt="Around">
</div>
