@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h3>Bienvenido @User.Identity.Name</h3>
        <hr>
    }
    <img class="align-middle" width="400" src="~/images/logo.png" alt="Logo">
</div>
