@model Usuarios
@{
    ViewData["Title"]="Inicio de sesión";
}

    <div class="mx-auto">
        <form class="needs-validation">
            <div class="form-group">
                <label for="InputUsuario">Usuario:</label>
                <input type="text" class="form-control" id="InputUsuario" asp-for="Correo" aria-describedby="usuarioHelp"
                    placeholder="Ingrese su usuario" required>
                <small id="usuarioHelp" class="form-text text-muted">Los datos de acceso son confidenciales.</small>
                <div class="valid-feedback">
                    Dato válido.
                </div>
                <div class="invalid-feedback">
                    El usuario es un campo obligatorio.
                </div>
            </div>
            <div class="form-group">
                <label for="InputContrasenia">Contraseña</label>
                <input type="password" class="form-control" id="InputContrasenia" asp-for="Password" placeholder="Contraseña" required>
            </div>
            <br />
            <small>¿No eres usuario registrado?</small>
            <br />
            <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Registro">Registrate</a>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>

    <!-- Script de validación -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
